.bullets__button {
  padding: 0;
  width: 8px;
  height: 8px;
  border: 2px solid $accent-blue;
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;

  @media (min-width: $tablet) {
    width: 12px;
    height: 12px;
  }

  &--active {
    border: 2px solid $active;
    background-color: $active;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    border: 2px solid $base-white;
    background-color: rgba($color: $active, $alpha: 0.7);
  }

  &:focus-visible {
    border: 2px solid $accent-blue;
    background-color: $accent-blue;
    outline: none;
  }

  &:active {
    border: 2px solid $active;
    background-color: $active;
  }
}
