.copyright--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;

  @media (min-width: $tablet) {
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright__link {
  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $base-black;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 12px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.copyright__text {
  margin: 0;
  padding: 0;
  display: block;

  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(72, 72, 72, 0.6);

  @media (min-width: $tablet) {
    line-height: 12px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 18px;
    color: $base-black;
  }
}
