.footer-nav__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;

  list-style: none;

  @media (min-width: $tablet) {
    column-gap: 15px;
  }

  @media (min-width: $desktop) {
    column-gap: 30px;
  }
}

.footer-nav__link {
  font-family: $manrope;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    line-height: 17px;
  }
}
