.form--wrapper {
  background-color: $accent-beige;
}

.form__container {
  padding: 40px 0;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 50px 58px;
    width: 652px;
  }

  @media (min-width: $desktop) {
    padding: 60px 100px;
    width: 1240px;
  }
}

.form__background {
  position: relative;

  padding: 43px 10px 39px;
  min-height: 667px;
  height: auto;

  background-image: url("../../img/form/background-mob.webp"),
    linear-gradient(rgb(8 112 165 / 92%), rgb(155 141 141 / 91%));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/form/background-mob@2x.webp");
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: 652px;
    min-height: 780px;
    overflow: hidden;
    border-radius: 16px;

    background-image: url("../../img/form/background-tablet.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/form/background-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop) {
    width: 1240px;

    background-image: url("../../img/form/background-desktop.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/form/background-desktop@2x.webp");
    }
  }
}

.form__content {
  position: relative;
  z-index: 1;

  padding: 15px 15px 27px;
  margin: 0 auto;
  width: 270px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 16px;
  background-color: $accent-blue;

  @media (min-width: $tablet) {
    padding: 42px 40px 36px;
    margin: 0;
    width: 362px;
  }

  @media (min-width: $desktop) {
    padding: 44px 70px 40px;
    width: 350px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-family: $manrope;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $base-white;

  @media (min-width: $tablet) {
    padding-right: 16px;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
    margin-bottom: 34px;

    font-size: 32px;
    line-height: 36px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-family: $manrope;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $accent-beige;
  opacity: 90%;

  @media (min-width: $tablet) {
    padding-right: 16px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
    line-height: 26px;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  &--checkbox {
    position: relative;
    margin-bottom: -1px;
    padding: 3px 0 0;

    flex-direction: row;
    align-items: center;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      padding: 4px 0;
    }

    @media (min-width: $desktop) {
      padding: 6px 0 0;
    }
  }

  &--select {
    @media (min-width: $desktop) {
      height: 78px;
    }
  }
}

.form__label {
  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $accent-beige;
  opacity: 80%;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    line-height: 18px;
  }

  &--checkbox {
    padding-left: 30px;

    color: $base-white;
    opacity: 100%;

    @media (min-width: $tablet) {
      margin-bottom: 20px;

      font-size: 12px;
      line-height: 12px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 23px;
    }
  }
}

.form__item--select .form__label {
  @media (min-width: $desktop) {
    line-height: 14px;
  }
}

.form__label-break {
  display: block;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.form__input {
  padding: 16px 25px;
  min-width: 270px;
  height: 50px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $base-white;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    min-width: 362px;

    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 350px;

    line-height: 18px;
  }

  &--select {
    min-width: 260px;

    @media (min-width: $tablet) {
      min-width: 362px;
      height: 52px;
    }

    @media (min-width: $desktop) {
      min-width: 350px;
    }
  }

  &--textarea {
    min-height: 94px;

    @media (min-width: $tablet) {
      min-height: 88px;
    }

    @media (min-width: $desktop) {
      min-height: 90px;
    }
  }
}

.form__mark {
  position: absolute;
  top: 3px;
  left: 0;
  transform: translate(0, 50%);
  width: 20px;
  height: 20px;

  border-radius: 2px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    transform: none;
  }

  @media (min-width: $tablet) {
    top: 0;
  }
}

.form__input[type="checkbox"]:checked + .form__mark::before {
  content: "";
  width: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  mask-image: url("../../img/sprite/tick.svg");
  mask-repeat: no-repeat;
  mask-size: 10px 8px;
  background-color: $accent-blue;
}

.form__button {
  padding: 5px 5px 5px 31px;
  width: 260px;

  display: flex;
  align-items: center;

  border: none;
  box-shadow: inset 0 0 0 1px $base-white;
  border-radius: 30px;
  background-color: $accent-blue;

  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 352px;

    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desktop) {
    width: 350px;
  }
}

.form__button-text {
  margin-right: auto;
  width: 160px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $base-white;
  letter-spacing: 0.24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 240px;

    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desktop) {
    width: 236px;
  }
}

.form__button-img {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $base-white;
  border-radius: 50%;

  @media (min-width: $tablet) {
    width: 46px;
    height: 46px;
  }
}

.form__button:hover {
  background-color: $base-white;
}

.form__button:hover .form__button-text {
  color: $accent-blue;
}

.form__button:hover .form__button-img {
  background-color: $accent-blue;
  transform: rotate(45deg);
  transition: transform 0.1s ease-out;
}

.form__button:hover .form__button-img svg {
  stroke: $base-white;
}

.form__button:focus,
.form__button:focus-visible {
  outline: none;
}

.form__button:focus-visible .form__button-img {
  transform: rotate(45deg);
}

.form__button:active {
  background-color: $base-white;
}

.form__button:active .form__button-text {
  opacity: 70%;
}

.form__button:active .form__button-img {
  background-color: $accent-blue;
  transform: rotate(45deg);
}

.form__button:active .form__button-img svg {
  opacity: 70%;
}

.form__button:disabled {
  box-shadow: inset 0 0 0 1px $disabled;
  pointer-events: none;
}

.form__button:disabled .form__button-text {
  color: $disabled;
}

.form__button:disabled .form__button-img {
  background-color: $disabled;
}
