.hero .hero__slider .hero-slider__bullets {
  position: absolute;
  bottom: 339px;
  left: calc((100% - 290px) / 2);
  z-index: 2;

  width: 80px;
  height: fit-content;
  box-sizing: border-box;
  padding: 10px 16px;

  display: flex;
  gap: 12px;

  @media (min-width: $tablet) {
    padding: 14px 20px;
    width: 100px;

    bottom: 337px;
    left: calc((100% - 678px) / 2);
  }

  @media (min-width: $desktop) {
    bottom: 367px;
    left: calc((100% - 1240px) / 2);
  }
}

.hero-slider__slide {
  position: relative;

  width: 100%;
  min-height: 568px;

  display: flex;
  flex-direction: column;

  background-color: #e7e6e1;

  @media (min-width: $tablet) {
    min-height: 1024px;
  }

  @media (min-width: $desktop) {
    min-height: 800px;
  }
}

.hero-slider__img {
  width: 100%;
  position: absolute;
}

.hero-slider__img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: $overlay-blue;
}

.hero-slider__img img {
  display: block;
  width: 100%;

  background-color: #d6e2f3;
}

.hero-slider__inner {
  padding-top: calc(20px + 54px + 10px + 28px);
  padding-right: calc((100% - 290px) / 2);
  padding-bottom: 20px;
  padding-left: calc((100% - 290px) / 2);
  min-height: calc(568px - (20px + 54px + 10px + 28px) - 20px);

  align-content: flex-end;

  @media (min-width: $tablet) {
    padding-top: calc(30px + 56px + 10px + 40px);
    padding-right: calc((100% / 2) - 320px);
    padding-bottom: 60px;
    padding-left: calc((100% / 2) - 339px);
    min-height: calc(1024px - (30px + 56px + 10px + 40px) - 60px);
  }

  @media (min-width: $desktop) {
    padding-right: calc((100% / 2) - 348px);
    padding-bottom: 60px;
    padding-left: calc((100% / 2) - 620px);
    min-height: calc(800px - (30px + 56px + 10px + 40px) - 60px);
  }
}

.hero-slider__title {
  position: relative;

  margin: 0;
  padding: 20px 15px 16px 14px;
  width: 261px;
  z-index: 0;

  font-family: $manrope;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $accent-blue;

  border-radius: 0 16px 16px 0;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 30px 69px 24px 40px;
    width: 550px;

    font-size: 36px;
    line-height: 44px;

    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 41px 50px 29px;
    width: 868px;

    font-size: 54px;
    line-height: 62px;
  }
}

.hero-slider__title::before {
  content: "";
  position: absolute;
  top: -28px;
  left: calc((100% - 290px) / 2);
  z-index: 2;

  display: block;
  width: 80px;
  height: 28px;
  padding: 10px 16px;
  box-sizing: border-box;

  border-radius: 12px 12px 0 0;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 14px 20px;
    width: 100px;
    height: 40px;

    top: -40px;
    left: calc((100% - 659px) / 2);

    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $desktop) {
    left: calc((100% - 968px) / 2);

    border-radius: 20px 20px 0 0;
  }
}

.hero-slider__title::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 80px;
  top: -10px;

  background-image: url("../../img/sprite/angle1.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
    left: 100px;
    top: -20px;
    background-size: 100% auto;
  }
}

.hero-slider__brief {
  @media (min-width: $tablet) {
    display: flex;
  }
}

.hero-slider__slide p {
  position: relative;

  margin: 0;
  padding: 0 14px 15px;
  width: 239px;

  font-family: $manrope;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;

  border-radius: 0 0 14px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 0 0 35px 40px;
    width: 285px;

    font-size: 16px;
    line-height: 20px;

    border-radius: 0 0 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 55px 35px 50px;
    width: 391px;

    line-height: 26px;
  }
}

.hero-slider__slide p::after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  position: absolute;
  right: -8px;
  top: 0;
  background-image: url("../../img/sprite/angle2.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    background-image: none;
  }
}

.hero-slider__link-container {
  position: relative;

  padding: 10px 15px;
  width: fit-content;

  border-radius: 0 0 14px 14px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 0 40px 0 30px;

    border-radius: 0 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 10px 51px 0 30px;
  }
}

.hero-slider__link-container::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -10px;
  top: 0;
  transform: rotate(90deg);
  background-image: url("../../img/sprite/angle1.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 26px;
    height: 26px;
    right: -26px;
    background-size: 100% auto;
  }
}
