.link {
  padding: 5px 5px 5px 21px;
  width: 154px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: inset 0 0 0 1px $accent-blue;

  @media (min-width: $tablet) {
    padding-left: 30px;
    width: 198px;
  }

  @media (min-width: $tablet) {
    padding: 6px 5px 6px 21px;
  }

  &--about {
    width: 223px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: $tablet) {
      padding: 5px 5px 5px 21px;
      width: 279px;
    }
  }

  &--secondary {
    padding: 5px 5px 5px 31px;
    width: 205px;

    @media (min-width: $tablet) {
      width: 234px;
    }
  }
}

.link__text {
  margin-right: auto;
  width: 74px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $accent-blue;
  letter-spacing: 0.24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 106px;

    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  &--about {
    width: 143px;

    @media (min-width: $tablet) {
      width: 169px;
    }
  }

  &--secondary {
    width: 105px;
  }
}

.link__img {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $accent-blue;

  @media (min-width: $tablet) {
    width: 46px;
    height: 46px;
  }
}

.link:hover {
  background-color: $accent-blue;
}

.link:hover .link__text {
  color: $base-white;
}

.link:hover .link__img {
  background-color: $base-white;
  transform: rotate(45deg);
  transition: transform 0.1s ease-out;
}

.link:hover .link__img svg {
  stroke: $accent-blue;
}

.link:focus-visible {
  outline: none;
}

.link:focus-visible .link__img {
  transform: rotate(45deg);
}

.link:active {
  background-color: $accent-blue;
}

.link:active .link__text {
  color: rgba($color: $base-white, $alpha: 0.7);
}

.link:active .link__img {
  background-color: $base-white;
  transform: rotate(45deg);
}

.link:active .link__img svg {
  stroke: rgba($color: $accent-blue, $alpha: 0.7);
}

.link--disabled {
  box-shadow: inset 0 0 0 1px $disabled;
  pointer-events: none;
}

.link--disabled .link__text {
  color: $disabled;
}

.link--disabled .link__img {
  background-color: $disabled;
}

.link--disabled .link__img svg {
  stroke: rgba($color: $base-white, $alpha: 0.6);
}
