.news-slider__slide {
  width: 290px;
  min-height: 240px;
  height: fit-content;

  display: flex;
  align-items: flex-end;

  border-radius: 12px;
  background-color: #c4d0e7;

  @media (min-width: $tablet) {
    width: 324px;
    min-height: 350px;
  }

  @media (min-width: $desktop) {
    width: 286px;
    min-height: 400px;
  }
}

.news-slider__slide:first-child {
  width: 290px;
  min-height: 330px;
  height: fit-content;

  @media (min-width: $tablet) {
    width: 324px;
    min-height: 350px;
  }

  @media (min-width: $desktop) {
    width: 604px;
    min-height: 400px;
  }
}

.news-slider__slide--1 {
  background-image: url("../../img/news/photo1-tablet.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/news/photo1-tablet@2x.webp");
  }

  @media (min-width: $desktop) {
    background-image: url("../../img/news/photo1-desktop.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/news/photo1-desktop@2x.webp");
    }
  }
}

.news-slider__slide--2 {
  background-image: url("../../img/news/photo2-tablet.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/news/photo2-tablet@2x.webp");
  }

  @media (min-width: $desktop) {
    background-image: url("../../img/news/photo2-desktop.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/news/photo2-desktop@2x.webp");
    }
  }
}

.news-slider__slide--3 {
  display: none;

  background-image: url("../../img/news/photo3-tablet.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/news/photo3-tablet@2x.webp");
  }

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    background-image: url("../../img/news/photo3-desktop.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/news/photo3-desktop@2x.webp");
    }
  }
}

.news-slider__slide--4 {
  display: none;

  background-image: url("../../img/news/photo4-tablet.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/news/photo4-tablet@2x.webp");
  }

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: none;
    background-image: url("../../img/news/photo4-desktop.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/news/photo4-desktop@2x.webp");
    }
  }
}

.news-slider__date {
  position: relative;
  padding: 12px 12px 6px 0;
  display: block;
  width: 67px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $accent-blue;
  letter-spacing: 0.12px;

  background-color: $accent-beige;
  border-radius: 0 12px 0 0;
}

.news-slider__date::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -16px;
  left: 0;
  mask-image: url("../../img/sprite/angle1.svg");
  mask-repeat: no-repeat;
  mask-size: 100% auto;
  background-color: $accent-beige;
}

.news-slider__date::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -16px;
  bottom: 0;
  mask-image: url("../../img/sprite/angle1.svg");
  mask-repeat: no-repeat;
  mask-size: 100% auto;
  background-color: $accent-beige;
}

.news-slider__slide h4 {
  position: relative;
  margin: 0;
  padding: 11px 18px 3px 0;
  width: 182px;

  font-family: $manrope;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $accent-blue;

  background-color: $accent-beige;
  border-radius: 0 12px 0 0;

  @media (min-width: $tablet) {
    padding: 10px 16px 6px 0;
    width: 191px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding: 10px 18px 4px 0;
    width: 172px;

    font-size: 24px;
    line-height: 26px;
  }
}

.news-slider__slide h4::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -16px;
  bottom: 0;
  mask-image: url("../../img/sprite/angle1.svg");
  mask-repeat: no-repeat;
  mask-size: 100% auto;
  background-color: $accent-beige;
}

.news-slider__brief {
  position: relative;
  padding: 13px 10px 9px 0;
  width: 253px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $accent-beige;
  border-radius: 0 12px 0 0;

  @media (min-width: $tablet) {
    padding: 12px 18px 15px 0;
    width: 222px;
  }
}

.news-slider__slide--3 .news-slider__brief {
  @media (min-width: $desktop) {
    width: 226px;
  }
}

.news-slider__slide:first-child h4 {
  @media (min-width: $desktop) {
    padding: 18px 18px 6px 0;
    width: 408px;
  }
}

.news-slider__slide:first-child .news-slider__brief {
  @media (min-width: $desktop) {
    width: 450px;
  }
}

.news-slider__slide:first-child .news-slider__brief p {
  @media (min-width: $desktop) {
    width: 404px;
  }
}

.news-slider__brief::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -16px;
  bottom: 0;
  mask-image: url("../../img/sprite/angle1.svg");
  mask-repeat: no-repeat;
  mask-size: 100% auto;
  background-color: $accent-beige;
}

.news-slider__slide p {
  margin: 0;
  padding: 0;
  width: 213px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $base-black;

  @media (min-width: $tablet) {
    width: 176px;

    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    line-height: 18px;
  }
}

.news-slider__link .news-slider__link-img {
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #316dc2;
  border-radius: 50%;
}
