.programms--wrapper {
  background-color: $accent-beige;
}

.programms__container {
  position: relative;

  padding: 56px 15px 50px;
  margin: 0 auto;
  width: 290px;

  @media (min-width: $tablet) {
    padding: 53px 0 60px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    padding: 65px 100px 70px;
    width: 1240px;
  }
}

.programms__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 54px;

  font-family: $manrope;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $accent-blue;

  @media (min-width: $tablet) {
    margin-bottom: 43px;
    padding-right: 290px;
    padding-left: 45px;

    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 45px;
    padding-left: 0;

    font-size: 50px;
  }
}

.programms__slider {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;

    display: flex;
    gap: 30px;
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    gap: 32px;
  }
}

.programms__link-container {
  @media (min-width: $tablet) {
    position: absolute;
    top: 50px;
    right: 45px;
  }

  @media (min-width: $desktop) {
    top: 62px;
    right: 100px;
  }
}

.programms__slider-wrapper {
  position: relative;
}

.programms__scroll-frame {
  display: none;

  @media (min-width: $tablet) {
    position: relative;
    left: 45px;
    display: block;
    width: 562px;
    height: 2px;
    background-color: rgba($color: $accent-blue, $alpha: 0.2);
  }

  @media (min-width: $desktop) {
    width: 1136px;
    left: 0;
  }
}

.programms__scroll-element {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 326px;
    height: 2px;
    background-color: $accent-blue;
    position: relative;
    cursor: pointer;
  }

  @media (min-width: $desktop) {
    width: 393px;
  }
}

.programms__scroll-element::before {
  content: "";
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    bottom: -7px;
    right: 0;
    background: transparent;
  }
}

.programms__pagination {
  position: absolute;
  top: -55px;
  right: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  @media (min-width: $tablet) {
    top: auto;
    bottom: -10px;
    right: 46px;
    gap: 10px;
  }

  @media (min-width: $desktop) {
    bottom: -11px;
    right: 0;
  }
}

.programms__pag-button {
  padding: 6px;
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $accent-beige;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &--prev {
    transform: scaleX(-1);
    margin-top: -1px;
  }
}

.programms__pag-button:hover svg {
  stroke: rgba($color: $accent-blue, $alpha: 0.7);
}

.programms__pag-button:focus-visible {
  outline: none;
  background-color: $base-white;
}

.programms__pag-button:focus-visible svg {
  stroke: $accent-blue;
}

.programms__pag-button:active {
  background-color: $base-white;
}

.programms__pag-button:active svg {
  stroke: rgba($color: $accent-blue, $alpha: 0.7);
}

.programms__pag-button:disabled {
  pointer-events: none;
}

.programms__pag-button:disabled svg {
  stroke: $disabled;
}
