.prog-slider__slide {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #e7e6e1;
  border-radius: 12px;
}

.prog-slider__img {
  position: absolute;
  z-index: -1;

  width: 290px;

  border-radius: 12px;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 324px;
  }

  @media (min-width: $desktop) {
    width: 392px;
  }
}

.prog-slider__img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: $overlay-blue;
}

.prog-slider__img img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: #c4d0e7;
}

.prog-slider__inner {
  padding: 18px 10px;
  min-height: calc(400px - (18px * 2));

  align-content: flex-end;

  @media (min-width: $tablet) {
    padding: 10px 20px;
    min-height: calc(420px - 20px);
  }

  @media (min-width: $desktop) {
    padding: 17px 51px 17px 20px;
    min-height: calc(420px - (17px * 2));
  }
}

.prog-slider__title {
  position: relative;
  margin: 0;
  padding: 18px 35px 6px 18px;
  width: 93px;

  font-family: $manrope;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $accent-blue;

  border-radius: 12px 12px 0 0;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 18px 38px 6px 18px;
    width: 117px;

    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop) {
    padding: 18px 36px 6px 18px;
    width: 140px;

    font-size: 24px;
    line-height: 17px;
  }
}

.prog-slider__title::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -18px;
  bottom: 0;
  background-image: url("../../img/sprite/angle1.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.prog-slider__brief {
  padding: 12px 18px 15px;
  width: calc(270px - 18px - 18px);
  min-height: calc(69px - 12px - 15px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0 12px 12px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    width: calc(284px - 18px - 18px);
    min-height: calc(87px - 12px - 15px);
  }

  @media (min-width: $desktop) {
    width: calc(321px - 18px - 18px);
    min-height: calc(82px - 12px - 15px);
  }
}

.prog-slider__slide p {
  margin: 0;
  padding: 0;
  width: 188px;

  font-family: $manrope;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $base-black;

  @media (min-width: $tablet) {
    width: 202px;

    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    width: 239px;

    font-size: 14px;
    line-height: 18px;
  }
}
