.social__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 10px;

  @media (min-width: $desktop) {
    gap: 20px;
  }
}

.social__item {
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $accent-blue;

  @media (min-width: $tablet) {
    width: 36px;
    height: 36px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $base-white;
  mask-repeat: no-repeat;
  mask-position: center;

  &--vk {
    padding: 9px 7px;
    width: 12px;
    height: 8px;

    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 12px 8px;

    @media (min-width: $tablet) {
      padding: 13px 10px;
      width: 16px;
      height: 9px;
      mask-size: 16px 10px;
    }
  }

  &--ok {
    padding: 7px 9px;
    width: 8px;
    height: 12px;

    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 8px 12px;

    @media (min-width: $tablet) {
      padding: 10px 13px;
      width: 9px;
      height: 16px;
      mask-size: 10px 16px;
    }
  }

  &--reddit {
    padding: 7px;
    width: 12px;
    height: 12px;

    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 12px 12px;

    @media (min-width: $tablet) {
      padding: 10px;
      width: 16px;
      height: 16px;
      mask-size: 16px 16px;
    }
  }
}

.social__link:hover {
  background-color: rgba($color: $base-white, $alpha: 0.7);
}

.social__link:focus-visible {
  background-color: $accent-blue;
  outline: none;
}

.social__item:has(.social__link:focus-visible) {
  background-color: $base-white;
}

.social__link:active {
  background-color: $base-white;
}

.social__item:has(.social__link:active) {
  background-color: $active;
}
