// Viewports
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Colors
$base-white: #ffffff;
$base-black: #484848;
$accent-blue: #316dc2;
$accent-beige: #f0efe9;
$active: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$overlay-blue: rgba($color: $accent-blue, $alpha: 0.2); // на фото
$overlay-grey: rgba($color: #0d1d33, $alpha: 0.4); // под меню и формой

// Fonts
$manrope: "Manrope", "Arial", sans-serif;
