// Viewports
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Colors
$base-white: #ffffff;
$base-black: #484848;
$accent-blue: #316dc2;
$accent-beige: #f0efe9;
$hover: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$overlay-blue: rgba(49, 109, 194, 0.2);
$overlay-blue: rgba(13, 29, 51, 0.4);

// Fonts
$manrope: "Manrope", "Arial", sans-serif;
